<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sajjad's Search Engine</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="centered-container">
        <h1>Sajjad's Search Engine</h1>
        <form action="{{url_for("search") }}" method="GET">
            <input type="text" name="q" placeholder="Enter your search query" required>
            <button type="submit">Search</button>
        </form>
    </div>
</body>
</html>
